.App {
  text-align: center;
}

.List {
  display: flex;

}

.ul-list {
  padding: 50px;
  display: block;
}

.ul-list >div {
  width: 170px;
  height: 20px;
  cursor: pointer;
  margin: 10px 0px 10px 0px;
}

.Details {
  margin-left: 500px;
}